################################################################
# Global configuration
################################################################

debug = false
checkNewVersion = true
logLevel = "ERROR"

{{ if isTrue .Env.ACME_ENABLED }}

defaultEntryPoints = ["https", "http"]

[entryPoints]
  [entryPoints.http]
  address = ":80"
  compress = true
    [entryPoints.http.redirect]
    entrypoint = "https"
  [entryPoints.https]
  address = ":443"
  compress = true
  [entryPoints.https.tls]


{{ else }}

defaultEntryPoints = ["http"]

[entryPoints]
  [entryPoints.http]
  address = ":80"
  compress = true

{{ end }}

[retry]

################################################################
# Web configuration backend
################################################################

[web]

# Web administration port.
#
# Required
# Default: ":8080"
#
address = ":8080"

{{ if isTrue .Env.HTTP_AUTH_ENABLED }}

[web.auth.basic]
users = ["{{ default .Env.HTTP_AUTH_USER "admin" }}:{{ .Env.HTTP_AUTH_PASSWORD_HASH }}"]

{{ end }}


################################################################
# Docker configuration backend
################################################################

[docker]
endpoint = "{{ default .Env.DOCKER_ENDPOINT "unix:///var/run/docker.sock" }}"
watch = {{ default .Env.DOCKER_WATCH "true" }}
exposedbydefault = {{ default .Env.DOCKER_EXPOSED_BY_DEFAULT "false" }}
swarmmode = {{ default .Env.DOCKER_SWARM_MODE "false" }}

{{ if isTrue .Env.ACME_ENABLED }}

[acme]
email = "{{ .Env.ACME_EMAIL }}"
storage = "{{ default .Env.ACME_STORAGE "/etc/traefik/acme.json" }}"
entryPoint = "https"
OnHostRule = {{ default .Env.ACME_ON_HOST_RULE "true" }}
acmeLogging = {{ default .Env.ACME_LOGGING "true" }}

[acme.httpChallenge]
entryPoint = "http"

{{ end }}

